{% extends 'base.html' %}

{% block title %}
    all-event
{% endblock title %}

{% block content %}
<div class="container mt-3 mb-5">
    <div class="mb-4" style="text-align: center;">
        <h1 style="
            display: inline-block;
            padding: 5px;
            background: linear-gradient(to right, #ff7e5f, #feb47b);
            -webkit-background-clip: text;
            color: transparent;
            border-bottom: 3px solid #ff7e5f;
        ">Our Events</h1>
    </div>
    <div class="row">
                
        {% for event in events %}
            <div class="col-lg-6">
                <div class="card shadow mb-3">
                    <img src={{event.images.url}} class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                      <h5 class="card-title">{{event.event_name}}</h5>
                      <p class="card-text">{{event.introduction|slice:":150"}}&nbsp;...</p>
                      <hr>
                      <a href="{% url 'main:event-details' event.slug %}" type="button" class="btn btn-outline-info align-items-center">Read More</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
    