<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #45526e"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                SANATAN SOCIETY OF BOSTON
              </h6>
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            {% comment %} <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white" href=''>MDBootstrap</a>
              </p>
              <p>
                <a class="text-white" href=''>MDWordPress</a>
              </p>
              <p>
                <a class="text-white" href=''>BrandFlow</a>
              </p>
              <p>
                <a class="text-white" href=''>Bootstrap Angular</a>
              </p>
            </div> {% endcomment %}
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Useful links
              </h6>
              <p>
                <a class="text-white" href='{% url "main:home" %}'>Home</a>
              </p>
              <p>
                <a class="text-white" href='{% url "main:about" %}'>About Us</a>
              </p>
              <p>
                <a class="text-white" href='{% url "main:event" %}'>Events</a>
              </p>
              <p>
                <a class="text-white" href='{% url "main:media" %}'>Media</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="bi bi-geo-alt-fill mr-3"></i> New York, NY 10012, US</p>
              <p><i class="bi bi-envelope-fill mr-3"></i> info@gmail.com</p>
              <p><i class="bi bi-telephone-fill mr-3"></i> + 01 234 567 88</p>
              <p><i class="bi bi-telephone-fill mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2024 Copyright: Developed By
                <a class="text-white" href="https://www.linkedin.com/in/clinton-biswas-ponti/"
                   >Clinton Biswas </a>
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Facebook -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 href='https://www.facebook.com/pujaudjaponparishad.boston?mibextid=kFxxJD'
                 ><i class="bi bi-facebook"></i
                ></a>
  
              <!-- Twitter -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="bi bi-twitter"></i
                ></a>
  
              <!-- Google -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="bi bi-google"></i
                ></a>
  
              <!-- Instagram -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="bi bi-instagram"></i
                ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->